<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>mpro-minecraft-plugins - Server Info</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type: none; padding: 0; margin: 0; text-align: center;">
                <li style="display: inline;">
                    <a href="/index">Home</a> |
                </li>
                <li style="display: inline;">
                    <a href="/online-players">Online Players</a> |
                </li>
                <li style="display: inline;">
                    <a href="/plugin-list">Plugin List</a> |
                </li>
                <li style="display: inline;">
                    <a href="/monitor">Server Monitor</a> |
                </li>
                <li style="display: inline;">
                    <a href="/server-status">Server Status</a> |
                </li>
                <li style="display: inline;">
                    <a href="/world-info">World Info</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
